<ActionBar title="FooT" class="action-bar" >
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"  [nsRouterLink]="['/sport']"></NavigationButton>
    <StackLayout orientation="horizontal" android:horizontalAlignment="center" ios:horizontalAlignment="center">
    <Label text="FOOT"  class="action-label" ></Label>
  </StackLayout>
</ActionBar>
<TabView selectedIndex="0"   sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: 'Mes Videos'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results">
                    <Label *ngIf="i<11" [text]="result.author"  textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image  *ngIf="i<11"[src]="result.post_url"   stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes abonnements'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results">
                    <Label *ngIf="i<11"  [text]="result.author"  textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image  *ngIf="i<11" [src]="result.post_url"  stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes equipes'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results">
                    <Label *ngIf="i<11"  [text]="result.author"  textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image  *ngIf="i<11" [src]="result.post_url"  stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</TabView>