<ActionBar title="FooT" class="action-bar" >
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_manage" (tap)="openDrawer()"></NavigationButton>
    <StackLayout orientation="horizontal" android:horizontalAlignment="center" ios:horizontalAlignment="center">
    <Label text="FOOT"  class="action-label" ></Label>
  </StackLayout>
</ActionBar>
<RadSideDrawer  tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Mon compte" class="sideLabel sideLightGrayLabel" [nsRouterLink]="['/users']"></Label>
            <Label text="Mes videos" class="sideLabel"></Label>
            <Label text="Mes abonnements" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Mes videos" class="sideLabel"></Label>
            <Label text="Mes abonnements" class="sideLabel"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent>
        <StackLayout class="input-field">
            <Button class="btn btn-primary w-full " text="basket"  [nsRouterLink]="['/sport/categorie' ,  basket.text]" (tap)="mol(basket.text)"  #basket></Button>
            <Button class="btn btn-primary w-full " text="tennis"  [nsRouterLink]="['/sport/categorie', tennis.text]" #tennis></Button>
            <Button class="btn btn-primary w-full " text="football" [nsRouterLink]="['/sport/categorie', football.text]" #football></Button>
        </StackLayout>        
    </StackLayout>
</RadSideDrawer>
