<TabView selectedIndex="0"   sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: 'Mes Videos'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results; let i=index">
                    <Label *ngIf="i<11" [text]="result.author" textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image *ngIf="i<11"  [src]="result.post_url" stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes abonnements'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results">
                    <Label  *ngIf="i<11" [text]="result.author"   textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image  *ngIf="i<11" [src]="result.post_url"   stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes equipes'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results">
                    <Label *ngIf="i<11" [text]="result.author"   textWrap="true" class="m-15" (tap)="getID(result.id)"></Label>
                    <Image *ngIf="i<11" [src]="result.post_url"   stretch="aspectFit" width="200" height="200" class="op"></Image>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</TabView>