<TabView selectedIndex="0"   sdkExampleTitle sdkToggleNavButton>
    <StackLayout *tabItem="{title: 'Mes Videos'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results; let i=index">
                    <Label *ngIf="i<11" [text]="result.title" textWrap="true" class="m-15"  [nsRouterLink]="['/sport/detail', result.id]"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes abonnements'}">
        <ScrollView >
            <StackLayout>
                <StackLayout >
                    <StackLayout *ngFor="let result of results; let i=index">
                        <Label *ngIf="i<11" [text]="result.title" textWrap="true" class="m-15"  [nsRouterLink]="['/sport/detail', result.id]"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Mes equipes'}">
        <ScrollView >
            <StackLayout>
                <StackLayout *ngFor="let result of results; let i=index">
                    <Label *ngIf="i<11" [text]="result.title" textWrap="true" class="m-15"  [nsRouterLink]="['/sport/detail', result.id]"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</TabView>